<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
</head>
<body>
  <h1 class="">
    Home
  </h1>
  <p class="">Otras noticias</p>
  <ul>
    <li class="">Pese a críticas negativas, "Antman:Quantumania" debuta con éxito de taquilla en el día de su estreno</li>
    <li class="">A un año de iniciado el conflicto entre Rusia y Ucrania, </li>
  </ul>
  <button class="btn-other">Accede a más noticias</button>
</body>
</html>